+navbar("Eagle Store", "dropdown_menu", "inverse")
    +nav_item("/") Início
    +nav_item_dropdown("/view/aplicativo/listar")(label="Aplicativo")
        +nav_item("/view/aplicativo/listar") Listar
        +nav_item("/view/aplicativo/cadastrar") Cadastrar
        +nav_item("/view/aplicativo/alterar") Alterar
        +nav_item("/view/aplicativo/apagar") Apagar
    +nav_item_dropdown("/view/categoria/listar")(label="Categoria")
        +nav_item("/view/categoria/listar") Listar
        +nav_item("/view/categoria/cadastrar") Cadastrar
        +nav_item("/view/categoria/alterar") Alterar 
        +nav_item("/view/categoria/apagar") Apagar
    +nav_item_dropdown("/view/log/listar")(label="Log")
        +nav_item("/view/log/listar") Listar
        +nav_item("/view/log/cadastrar") Cadastrar
        +nav_item("/view/log/alterar") Alterar
        +nav_item("/view/log/apagar") Apagar
    +nav_item_dropdown("/view/tipo/listar")(label="Tipo de Usuário")
        +nav_item("/view/tipo/listar") Listar
        +nav_item("/view/tipo/cadastrar") Cadastrar
        +nav_item("/view/tipo/alterar") Alterar
        +nav_item("/view/tipo/apagar") Apagar
    +nav_item_dropdown("/view/usuario/listar")(label="Usuário")
        +nav_item("/view/usuario/listar") Listar
        +nav_item("/view/usuario/cadastrar") Cadastrar
        +nav_item("/view/usuario/alterar") Alterar
        +nav_item("/view/usuario/apagar") Apagar
    +nav_item("/view/login/login") Login
    +nav_item("/view/login/logout") Logout
    
    
    