include ../cabecalho 
include ../menu

div.container-fluid
table(class="table striped")
    tr
        th Tipo de usuário
    each item in valores
        tr
            td
                a(href="/view/tipo/listar/"+item.id) #{item.tipo}

include ../rodape 